* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f6f9;
}

/* NAVBAR */
.navbar {
    height: 60px;
    background-color: #1e293b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

/* CONTENEDOR */
.container {
    display: flex;
    height: calc(100vh - 60px);
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    background-color: #334155;
    padding-top: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 15px 20px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li:hover {
    background-color: #475569;
    cursor: pointer;
}

/* CONTENIDO */
.content {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
}