/* SIDEBAR */
.sidebar {
    width: 25%;
    background-color: #334155;
    padding-top: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 15px 20px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li:hover {
    background-color: #475569;
    cursor: pointer;
}